header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: $bg-color;
  height: 7.9vh;
  min-width: 40px;
  background-color: yellow;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  img {
    position: static;
  }
  input {
    display: none;
  }

  #menu:focus ~ .menu,
  #menu:hover ~ .menu {
    transform-origin: top right;
    animation-name: visibility;
    animation-duration: 10s;
    visibility: visible;
    width: 100%;
    height: 224px;
    z-index: 9999;
  }
  nav {
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 224px;
    background: #0000ec;
    margin-top: 10px;

    ul {
      display: flex;
      list-style: none;
      flex-flow: row nowrap;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 16px;
      li {
        font-family: IBMPlexMono;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
        line-height: 28px;
      }
    }
  }
}

@keyframes visibility {
  0% {
    opacity: 0%;
    scale: 0%;
  }

  100% {
    opacity: 100%;
    scale: 100%;
  }
}
