main {
  font-family: $fontsans;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  background-color: red;
  width: 100%;
  opacity: 70%;

  #h1sec {
    background-color: green;
    opacity: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    h1 {
      font-weight: 300;
      font-size: 36px;
      color: #060a24;
      letter-spacing: 0;
      line-height: 42px;
      padding: 29px 10% 16px 16px;
      #world {
        text-decoration: line-through;
      }
    }
    p {
      padding: 0 5px 36px 16px;
      font-family: $fontmono;
      font-size: 14px;
      color: #060a24;
      letter-spacing: 0;
      line-height: 22px;
    }
    // #conobutt {

    // }
  }

  .botones {
    justify-content: center;
    width: 97%;
    height: 48px;
    margin: 0 16px 24px 16px;
    background-color: $bot-color;
    border: none;
    color: $colorr;
    font-family: $fontmono;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    &:hover {
      background-color: $hov-bot-color;
    }
  }
  #iframesec {
    display: flex;
    flex-flow: row wrap;
    width: 100%;}
  
  h2 {
    margin: 64px 0px 15.5px 16px;
    font-family: $fontsans;
    font-weight: 300;
    font-size: 36px;
    color: $colorr;
    letter-spacing: 0;
    line-height: 42px;
  }
  #episodios{
    color: $bg-color;
  }
  .spoti {
    width: 100%;
    margin: 5.5px 0px 5.5px 0px;
    padding: 0px 11px 0px 11px;
  }
  .blueline {
    &::after {
      content: "";
      background-image: $bg-skew-color;
      position: absolute;
      width: 100%;
      height: 1203.5px;
      transform: skewy(-5deg);
      left: 0;
      top: 367px;
      z-index: -1;
    }
  }
  #phonesect{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
    img{
      width: 360px;
      height: 519px;
      position: relative;   
      margin-top: 42.5px; 
      
    }
    h2{ 
      margin-top: 27px;
      margin-bottom: 8px;
      margin-right: 50px;
    }
  }
    
   @media screen and (max-width: 340px){
    #phoneimg{
      width: 360px;
      height: 519px;
      position: relative;
      left: -6%;
      margin-top: 42.5px;
    }
}}
