main {
  padding-left: 11px;
  padding-right: 11px;
  position: absolute;
  overflow: hidden;
  top: 44px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: red;
  width: calc(100vw - 22px);
  #h1sec {
    position: relative;

    h1 {
      font-family: IBMPlexSans;
      font-size: 36px;
      color: #060a24;
      letter-spacing: 0;
      line-height: 42px;
      left: 0;
      padding-bottom: 24px;
      #world {
        text-decoration: line-through;
      }
    }
    p {
      font-family: IBMPlexMono;
      font-size: 14px;
      color: #060a24;
      letter-spacing: 0;
      line-height: 22px;
      margin-left: 5px;
      margin-right: 5px;
    }
    #conobutt {
      background-color: $bot-color;
      margin-left: 5px;
      margin-right: 5px;
      width: calc(100% - 10px);
      height: 48px;
      border: none;
      font-family: IBMPlexMono-Medium;
      font-size: 16px;
      color: $colorr;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
      padding: 0;
    }
  }
  #epiframes {
    position: relative;
    padding-top: 64px;

    &::after {
      content: "";
      position: absolute;
      background-image: $bg-skew-color;
      display: block;
      width: 100vh;
      height: 50px;
      transform: skewy(-4deg);
      left: 0;
      z-index: -1;
      top: 52px;
    }
  }
}
