
$fontmono:'IBM Plex Mono', monospace;
$fontsans:'IBM Plex Sans', sans-serif;
$colorr: #060a24;
$bot-color: #00f3bb;
$hov-bot-color:linear-gradient(248deg, #0000ff -32%, #00f3bb 88%);
$bg-color: #fff;    
$bg-skew-color: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);