* {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (max-width: 569px) and (min-width: 320px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    background-color: #fff;
    height: 7.9vh;
    min-width: 40px;
    background-color: yellow;
    padding: 5px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    position: static;
  }
  header input {
    display: none;
  }
  header #menu:focus ~ .menu,
  header #menu:hover ~ .menu {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-animation-name: visibility;
            animation-name: visibility;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    visibility: visible;
    width: 100%;
    height: 224px;
    z-index: 9999;
  }
  header nav {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 224px;
    background: #0000ec;
    margin-top: 10px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 16px;
  }
  header nav ul li {
    font-family: IBMPlexMono;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 28px;
  }
  @-webkit-keyframes visibility {
    0% {
      opacity: 0%;
      scale: 0%;
    }
    100% {
      opacity: 100%;
      scale: 100%;
    }
  }
  @keyframes visibility {
    0% {
      opacity: 0%;
      scale: 0%;
    }
    100% {
      opacity: 100%;
      scale: 100%;
    }
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    overflow: hidden;
    background-color: red;
    width: 100%;
    opacity: 70%;
  }
  main #h1sec {
    position: relative;
  }
  main #h1sec h1 {
    font-family: IBMPlexSans;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    left: 0;
    padding-bottom: 24px;
  }
  main #h1sec h1 #world {
    text-decoration: line-through;
  }
  main #h1sec p {
    font-family: IBMPlexMono;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main #h1sec #conobutt {
    background-color: #00f3bb;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
    height: 48px;
    border: none;
    font-family: IBMPlexMono-Medium;
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    padding: 0;
  }
  main #epiframes {
    position: relative;
    padding-top: 64px;
  }
  main #epiframes::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    display: block;
    width: 100vh;
    height: 50px;
    -webkit-transform: skewy(-4deg);
            transform: skewy(-4deg);
    left: 0;
    z-index: -1;
    top: 52px;
  }
}
/*# sourceMappingURL=styles.css.map */